#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #ffffff;
	z-index: 100;
}
#header .inner {
/*	width: 1210px;*/
	width: 1456px;
	margin: 0 auto;
	padding: 41px 20px;
	position: relative;
	overflow: hidden;
}
#header .logo {
	position: absolute;
	left: 20px;
	top: 38px;
}
#header .logo img {
	width: 171px;
}
#header .global-nav {
	float: right;
}
#header .global-nav ul {
	font-size: 0;
}
#header .global-nav ul li {
	display: inline-block;
	font-size: 15px;
	margin-right: 48px;
	text-align: center;
}
#header .global-nav ul li:last-child {
	margin-right: 0;
	margin-left: -6px;
}
#header .global-nav ul li a {
	display: block;
}
#header .global-nav ul li .button.line-motion > span:before {
	background: #ff906a;
	bottom: 0;
}
#header .global-nav ul li:last-child a {
	padding: 7px 42px;
	font-weight: 700;
	border: 3px solid #221815;
}
#header .global-nav ul li a:hover span {
	font-weight: 700;
}

.content.main section {
	position: relative;
}
section.index {
/*	height: 100%;*/
/*	height: 1005px;*/
	background: #ffffff;
	padding: 234px 0 34px;
	z-index: 2;
}
section.index .slider-frame {
/*	width: 1037px;*/
	margin: 0 auto;
}
section.index .button-area {
	font-size: 0;
	text-align: center;
	margin: 67px auto 0;
}
section.index .button-area .button {
	display: inline-block;
	width: 184px;
	font-size: 18px;
}
section.index .button-area .button > span {
	padding: 11px 0;
}
section.index .button-area .button > span:before {
	background: #ff906a;
}
section.index .button-area .button span span {
	font-size: 18px;
	font-weight: 700;
	color: #2f3030;
}
section.index .button-area > span {
	display: inline-block;
	font-size: 20px;
	font-weight: 700;
	margin: 0 17px;
}
section.index .copyright {
	position: absolute;
	top: 50%;
	right: 50%;
	margin: -15px -710px 0 0;
	transform: rotate(90deg);
	font-size: 15px;
}
section.index .scroll-down {
	box-sizing: content-box;
	text-align: center;
	margin: 69px 0 0px;
}
section.index .scroll-down span {
	display: block;
	margin-bottom: 16px;
	color: #ff8840;
	font-weight: 700;
	letter-spacing: 1px;
}
section.index .scroll-down .arr2 {
	margin-top: -4px;
}
section.index .page-point {
	position: absolute;
	bottom: -35px;
	left: 50%;
	margin-left: -125px;
	width: 251px;
	height: 68px;
	background: url(../images/index_page_point.png) center / 251px 68px no-repeat;
}
section.campaign {
	padding: 178px 0 69px;
	background: #ff8840;
	z-index: 1;
}
section.campaign .title-area {
	text-align: center;
	margin-bottom: 60px;
}
section.campaign .title-area h2 {
	margin-bottom: 20px;
}
section.campaign .title-area h2 img {
	width: 366px;
}
section.campaign .title-area p {
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
}
section.campaign .title-area p:last-child {
	font-weight: 400;
}
section.campaign .campaign-list {
/*	width: 1040px;*/
	width: 1277px;
	margin: 0 auto;
}
section.campaign .cate-wrap {
	font-size: 0;
	text-align: center;
}
section.campaign .cate-wrap .cate {
	display: inline-block;
	width: 167px;
	margin-right: 23px;
	border: 1px solid #ffffff;
	background: #ff995b;
	color: #ffffff;
	cursor: pointer;
	transition: all 0.15s ease;
}
section.campaign .cate-wrap .cate.is-active {
	background: #ffffff;
	color: #ff8840;
	font-weight: 700;
}
section.campaign .cate-wrap .cate:last-child {
	margin-right: 0 !important;
}
section.campaign .cate-wrap .cate a {
	display: block;
	font-size: 0;
}
section.campaign .cate-wrap .cate a span {
	position: relative;
	display: inline-block;
	padding: 15px 0;
	font-size: 24px;
}
section.campaign .cate-wrap .cate a span:after {
	content: "";
	position: absolute;
	display: inline-block;
	vertical-align: top;
	margin-left: 8px;
}
section.campaign .cate-wrap .cate a span.dog,
section.campaign .cate-wrap .cate a span.cat {
	margin-left: -34px;
}
section.campaign .cate-wrap .cate a span.dog:after {
	width: 36px;
	height: 26px;
	background: url(../images/dog@2x.png) center / 36px 26px no-repeat;
}
section.campaign .cate-wrap .cate a span.cat:after {
	width: 25px;
	height: 26px;
	background: url(../images/cat@2x.png) center / 25px 26px no-repeat;
}
section.campaign .cate-wrap .cate.is-active a span.dog:after {background: url(../images/dog@2x_orange.png) center / 36px 26px no-repeat;}
section.campaign .cate-wrap .cate.is-active a span.cat:after {background: url(../images/cat@2x_orange.png) center / 25px 26px no-repeat;}
section.campaign .cate-wrap .cate-list._02 {
	margin: 24px 0 41px;
}
section.campaign .cate-wrap .cate-list._02 .cate {
	width: 118px;
	margin-right: 10px;
}
section.campaign .cate-wrap .cate-list._02 .cate a span {
	font-size: 20px;
}
section.campaign .orderby-wrap {
	text-align: center;
	font-size: 0;
	padding-bottom: 19px;
	border-bottom: 1px solid #ffffff;
}
section.campaign .orderby-wrap a {
	display: inline-block;
	padding: 0 20px;
	font-size: 20px;
	color: #ffffff;
}
section.campaign .orderby-wrap a.is-active {
	font-weight: 700;
}
section.campaign .list-container.campaign {
	padding: 33px 0;
	font-size: 0;
}
section.campaign .list-container.campaign .campaignEl {
	display: inline-block;
	width: 297px;
	height: 407px;
	margin-right: 29px;
	box-shadow: 0 0 20px 0 rgba(183, 94, 40, 0.8);
}
section.campaign .list-container.campaign .campaignEl:nth-of-type(4n) {
	margin-right: 0;
}
section.campaign .list-container.campaign .campaignEl .frame {
	position: relative;
	cursor: pointer;
}
section.campaign .list-container.campaign .campaignEl .frame .front-info {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
section.campaign .list-container.campaign .campaignEl .frame .front-info .wrap-top .end-msg {
	display: block;
	margin-top: 22px;
	font-size: 25px;
	text-align: center;
}
section.campaign .list-container.campaign .campaignEl .frame .front-info .wrap-top .end-msg b {
	font-weight: 700;
}
section.campaign .list-container.campaign .campaignEl .frame .front-info .dday {
	position: absolute;
	top: 16px;
	left: 16px;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 0.5px;
}
section.campaign .list-container.campaign .campaignEl .frame .front-info .badge {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 0;
}
section.campaign .list-container.campaign .campaignEl .frame .front-info .badge span {
	display: inline-block;
	width: 49px;
	height: 49px;
	margin-right: 8px;
	background: #ff8840;
	border-radius: 50%;
	vertical-align: middle;
	font-size: 25px;
	font-weight: 700;
}
section.campaign .list-container.campaign .campaignEl .frame .front-info .badge span.dog {
	background: url(../images/dog@2x.png) center / 36px 26px no-repeat #ff8840;
}
section.campaign .list-container.campaign .campaignEl .frame .front-info .badge span.cat {
	background: url(../images/cat@2x.png) center / 25px 26px no-repeat #ff8840;
}
section.campaign .list-container.campaign .campaignEl .frame .front-info .badge span:last-child {
	margin-right: 0;
}
section.campaign .list-container.campaign .campaignEl .frame .front-info .status {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0 19px 25px;
	text-align: center;
}
section.campaign .list-container.campaign .campaignEl .frame .front-info .status .end-msg {
	display: block;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 700;
}
section.campaign .list-container.campaign .campaignEl .frame .front-info .status .count-wrap {
	overflow: hidden;
	margin-bottom: 11px;
}
section.campaign .list-container.campaign .campaignEl .frame .front-info .status span {
	display: block;
	font-size: 20px;
	letter-spacing: 0.5px;
}
section.campaign .list-container.campaign .campaignEl .frame .front-info .status span b {
	font-weight: 700;
}
section.campaign .list-container.campaign .campaignEl .frame .front-info .status .req {
	float: left;
}
section.campaign .list-container.campaign .campaignEl .frame .front-info .status .rec {
	float: right;
}
section.campaign .list-container.campaign .campaignEl .frame .front-info .status .gage {
	width: 100%;
	height: 16px;
	background: #e0ccc6;
	border-radius: 8px;
	overflow: hidden;
}
section.campaign .list-container.campaign .campaignEl .frame .front-info .status .gage .inner {
	width: 0;
	height: 100%;
	border-radius: 8px;
	background: #ff8840;
}
section.campaign .list-container.campaign .campaignEl .frame .hover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(34, 24, 21, 0.6);
}
section.campaign .list-container.campaign .campaignEl .frame .hover .wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}
section.campaign .list-container.campaign .campaignEl .frame .hover .title {
	margin-bottom: 20px;
	line-height: 24px;
	font-size: 20px;
	font-weight: 700;
	color: #ffffff;
}
section.campaign .list-container.campaign .campaignEl .frame .hover .desc {
	margin-bottom: 38px;
	line-height: 29px;
	font-size: 20px;
	font-weight: 300;
	color: #ffffff;
	text-decoration: underline;
}
section.campaign .list-container.campaign .campaignEl .frame .hover .button {
	display: inline-block;
	width: 130px;
	background: #ffffff;
}
section.campaign .list-container.campaign .campaignEl .frame .hover .button span {
	display: inline-block;
	padding: 11px 0;
	font-size: 20px;
	font-weight: 700;
	color: #ff8840;
}

.campaign-over-transition-enter-active {
	transition: all 0.15s ease;
}
.campaign-over-transition-leave-active {
	transition: all 0.3s ease;
}
.campaign-over-transition-enter, .campaign-over-transition-leave-to {
	opacity: 0;
}

.content.main .section-nav {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: rotate(-90deg);
	margin: -40px 0 0 -890px;
	z-index: 99;
}
.content.main .section-nav ul {
	font-size: 0;
	position: relative;
}
.content.main .section-nav ul li {
	display: inline-block;
	position: relative;
	z-index: 2;
	margin-right: 44px;
}
.content.main .section-nav ul li a {
	display: block;
}
.content.main .section-nav ul li:nth-child(3) {
	margin-right: 0;
}
.content.main .section-nav .button span {
	font-size: 18px;
	font-weight: 700;
	color: #d3d1d0;
}
.content.main .section-nav .button span span {
	letter-spacing: 1px;
}
.content.main .section-nav .button:hover span,
.content.main .section-nav .button.is-active span {
	color: #221815;
	transition: all 0.3s linear;
}
.content.main .section-nav ul .active-bar {
	display: block;
	position: absolute;
	top: 10px;
	left: 293px;
	width: 57px;
	height: 7px;
	transition: all 0.3s ease-in-out;
	background: #6f9bff;
	z-index: 1;
}
/*
.content.main .section-nav .button:hover span:before,
.content.main .section-nav .button.is-active span:before{
	transform: scaleX(0.93);
}
*/
/* public */
.button.black-border {
	border: 4px solid #221815;
	background: #ffffff;
}
.button.black-border.shadow {
	box-shadow: 3px 3px 7px 3px rgba(68, 63, 59, 0.13);
}
.button.line-motion > span {
	position: relative;
	display: inline-block;
}
.button.line-motion > span > span {
	position: relative;
	z-index: 2;
}
.button.line-motion:hover span:before {
	transform: scaleX(1);
	transition: all 0.3s ease-in-out;
}
.button.line-motion > span:before {
	content: "";
	position: absolute;
	bottom: 10px;
	z-index: 1;
	left: 50%;
	transform: scaleX(0);
	margin-left: -50%;
	width: 100%;
	height: 6px;
}
/* public */