<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>셀럽 DC</title>
	<link rel="stylesheet" href="./css/reset.css">
	<link rel="stylesheet" href="./css/base.css">
	<link rel="stylesheet" href="./css/style.css">
<!--	<link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>-->
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
	<!-- vue template -->
	<template id="headerTemplate">
		<div id="header">
			<div class="inner">
				<h1 class="logo">
					<img src="./images/Celeb@2x.png" alt="CelebDC">
				</h1>
				<nav class="global-nav">
					<ul>
						<li style="width:40px;">
							<a class="button line-motion" href="javascript:void(0)" v-on:click="loginOut">
								<span>
									<span>Login</span>
								</span>
							</a>
						</li>
						<li style="width:43px;">
							<a class="button line-motion" href="#">
								<span>
									<span>About</span>
								</span>
							</a>
						</li>
						<li style="width:85px;">
							<a class="button line-motion" href="#">
								<span>
									<span>서비스 가이드</span>
								</span>
							</a>
						</li>
						<li style="width:31px;">
							<a class="button line-motion" href="#">
								<span>
									<span>FAQ</span>
								</span>
							</a>
						</li>
						<li>
							<a class="" href="#">
								<span>광고주</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</template>
	<template id="campaignTemplate">
		<li class="campaignEl" v-on:mouseover="onOver = true" v-on:mouseleave="onOver = false">
			<div class="frame">
				<a href="javascript:void(0)">
					<img v-bind:src="campaignInfo.imgSrc" alt="" width="100%">
				</a>
<!--				마우스 오버 트랜지션-->
				<transition name="campaign-over-transition">
					<div class="front-info" v-if="!onOver" key="front">
						<div class="wrap-top">
	<!--					캠페인 현재 진행중일경우-->
							<template v-if="ingFlag">
								<div class="dday"><span>{{ calcDday }}</span></div>
								<div class="badge">
									<span></span>
									<span class="type" v-bind:class="campaignInfo.type"></span>
								</div>
							</template>
	<!--					캠페인 종료일경우-->
							<template v-else>
								<div class="end-msg"><b>{{ announceDateDisplay }}</b> 당첨자발표</div>
							</template>
						</div>
						<div class="status">
	<!--					캠페인 현재 진행중일경우-->
							<template v-if="ingFlag">
								<div class="count-wrap">
									<span class="req">신청 <b>{{ campaignInfo.request }}명</b></span>
									<span class="rec">모집 <b>{{ campaignInfo.recruit }}명</b></span>
								</div>
							</template>
	<!--					캠페인 종료일경우-->
							<template v-else>
								<span class="end-msg">모집완료</span>
							</template>
							<div class="gage">
								<div class="inner" v-bind:style="{ width: calcGage + '%' }"></div>
							</div>
						</div>
					</div>
					<div class="hover" v-else key="back">
						<div class="wrapper">
							<div class="title">{{ campaignInfo.title }}</div>
							<div class="desc">{{ campaignInfo.desc }}</div>
							<a href="#" class="button">
								<span>신청하기</span>
							</a>
						</div>
					</div>
				</transition>
			</div>
		</li>
	</template>
	<template id="campaignContainerTemplate">
		<ul>
			<campaign-component v-for="(campaign, index) in campaignList" v-bind:campaign-info="campaign" :key="campaign.idx" v-on:campaignClick=""></campaign-component>
		</ul>
	</template>
	<template id="orderbyTemplate">
		<a class="orderby" href="javacript:void(0)" v-bind:class="{ 'is-active' : activeOrderbyName === orderby }" v-on:click="clickEvent(orderby)">{{ orderby }}</a>
	</template>
	<template id="categoryTemplate">
		<!--	v-bind:class="activeIndex == cateInfo.idx ? 'is-active' : ''"-->
		<li class="cate">
			<a :data-name="cateInfo.name" v-on:click="clickEvent(cateInfo.idx, cateInfo.name, cateInfo.groupIdx)">
				<span v-bind:class="cateInfo.name">{{ cateInfo.displayName }}</span>
			</a>
		</li>
	</template>
	<template id="categoryContainerTemplate">
		<ul>
			<category-component v-for="(cate, index) in cateList" v-bind:cate-info="cate" :key="cate.idx" v-on:cate-click="setCate"></category-component>
		</ul>
	</template>
	<!-- vue template -->
	<div id="app">
		<div class="container">
			<header-component></header-component>
			<div class="content main" ref="contentBox">
				<nav class="section-nav" ref="sectionNav">
					<ul>
						<li>
							<a href="#" class="button" v-bind:class="[currentSection == 'discount' ? 'is-active' : '']">
								<span>
									<span>DISCOUNT</span>
								</span>
							</a>
						</li>
						<li>
							<a href="#" class="button" v-bind:class="[currentSection == 'campaign' ? 'is-active' : '']">
								<span>
									<span>CAMPAIGN</span>
								</span>
							</a>
						</li>
						<li>
							<a href="#" class="button" v-bind:class="[currentSection == 'index' ? 'is-active' : '']">
								<span>
									<span>HOME</span>
								</span>
							</a>
						</li>
						<span class="active-bar" ref="navActiveBar"></span>
					</ul>
				</nav>
				<section class="index">
					<div class="slider-frame">
						<div class="slider">
							<div class="slide">
								<img src="./images/index_slide_01.png" alt="">
							</div>
						</div>
					</div>
					<div class="button-area">
						<a href="javascript:void(0)" class="button black-border shadow line-motion">
							<span>
								<span>About 셀럽디씨</span>
							</span>
						</a>
						<span>or</span>
						<a href="javascript:void(0)" class="button black-border shadow line-motion">
							<span>
								<span>혜택 받기 ></span>
							</span>
						</a>
					</div>
					<div class="scroll-down">
						<span>Scroll</span>
						<img class="arr1" src="./images/index_arrow_01.png" alt="">
						<img class="arr2" src="./images/index_arrow_02.png" alt="">
					</div>
					<div class="copyright">Copyright © CelebD.C All Right Reserved.</div>
					<div class="page-point"></div>
				</section>
				<section class="campaign">
					<div class="title-area">
						<h2><img src="./images/campaign_title.png" alt=""></h2>
						<p>나보다 잘 나가는 강아지/고양이 계정</p>
						<p>셀럽D.C에선 계정만 등록하면 누구나 무료협찬!</p>
					</div>
					<div class="campaign-list">
						<div class="cate-wrap">
							<category-container :cate-list="cateList1" class="cate-list _01"></category-container>
							<category-container :cate-list="cateList2" class="cate-list _02"></category-container>
						</div>
						<div class="orderby-wrap">
							<orderby-component orderby="등록순"></orderby-component>
							<orderby-component orderby="인기순"></orderby-component>
						</div>
						<div class="list-container campaign">
							<ul>
								<campaign-container :campaign-list="campaignList"></campaign-container>
							</ul>
						</div>
					</div>
				</section>
				<section class="discount">
				</section>
			</div>
		</div>
	</div>
	<script>
		Vue.component('header-component', {
			template: '#headerTemplate',
			methods: {
				loginOut: function() {
//					console.log(this.login);
					console.log('asd');
				}
			}
	  	})
		
		Vue.component('campaign-component', {
			template: '#campaignTemplate',
			props: [ 'campaignInfo' ],
			data() {
				return {
					ingFlag: true,
					gagePer: 0,
					onOver: false
				}
			},
			computed: {
				announceDateDisplay: function() {
					var fullDate = 	new Date(this.campaignInfo.announceDate),
						mm = fullDate.getMonth(),
						dd = fullDate.getDay(),
						resultDate = mm+'/'+dd;
					
					return resultDate;
				},
				calcDday: function() {
					var now = new Date(),
						currDay = new Date(now.getFullYear(), now.getMonth(), now.getDate()),
						end = new Date(this.campaignInfo.dateEnd),
						diff = (end.getTime() - currDay.getTime()) / (1000*60*60*24),
						dday = "";
						if(diff<1) {
							this.ingFlag = false;
						} else {
							dday = "D-"+parseInt(diff);
						}
					
					return dday;
				},
				calcGage: function() {
					var req = this.campaignInfo.request,
						rec = this.campaignInfo.recruit,
						resultGage = parseInt(req/rec*100);
					if(resultGage>=100) {
						resultGage = 100;
					}
					if(!this.ingFlag) {
						resultGage = 0;
					}
					return resultGage;
				}
			},
			mounted: function() {
//				console.log(this.campaignInfo);
			},
			updated: function() {
			},
			methods: {
//				마우스오버 트랜지션 훅
				beforeEnter: function(el) {
					el.style.opacity = 0;
				},
				enter: function(el, done) {
					el.style.opacity = 1;
					done();
				},
				afterEnter: function(el) {
				},
				enterCalled: function(el) {
					
				},
				beforeLeave: function (el) {
					// ...
				},
				// done 콜백은 CSS와 함께 사용할 때 선택 사항입니다.
				leave: function (el, done) {
					// ...
					el.style.opacity = 0;
					done()
				},
				afterLeave: function (el) {
					// ...
				},
				// leaveCancelled은 v-show와 함께 사용됩니다.
				leaveCancelled: function (el) {
					// ...
				}
			}
		})
		
		Vue.component('campaign-container', {
			template: '#campaignContainerTemplate',
			props: [ 'campaignList' ],
			data() {
				return {
//					campaignInfo: this.campaignList
				}
			},
			created: function() {
				
			},
			mounted: function() {
			}
		})
		
		var orderByData = { activeOrderbyName: '등록순' };
		Vue.component('orderby-component', {
			template: '#orderbyTemplate',
			props: [ 'orderby' ],
			data() {
				return orderByData;
			},
			methods: {
				clickEvent: function(orderBy) {
					this.activeOrderbyName = orderBy;
//					console.log(this.activeOrderbyName);
				}
			},
			mounted: function() {
//				console.log(orderByData.activeOrderbyName);
			}
		})
		
		Vue.component('category-component', {
			template: '#categoryTemplate',
			props: [ 'cateInfo' ],
			data() {
//				return shareData;
				return {
					activeIndex: 0
				}
			},
			methods: {
				clickEvent: function(idx, name, group) {
					this.activeIndex = idx;
//					console.log(this.activeIndex);
//					console.log('click event fired');
					this.$emit('cate-click', idx, name, group);
				}
			},
			mounted: function() {
			},
			beforeUpdate: function() {
//				console.log(this);
			}
		})
		Vue.component('category-container', {
			template: '#categoryContainerTemplate',
			props: [ 'cateList' ],
			data() {
				return {
					selectedCate1: '1',
					selectedCate2: ['1']
				}
			},
			methods: {
				setCate: function(selectedIdx, selectedName, selectedGroupIdx) {
					var cate2DuplChk = false;
					var selected = this.$children[selectedIdx-1];
					var selectedIdxString = String(selectedIdx);
					if(selectedGroupIdx == 2) {
//						다중 선택 카테고리
						if(selectedIdx == 1) {
							console.log("올 선택시");
							this.$children.forEach( el => {
								el.$el.classList.remove('is-active');
							});
							this.$el.children[0].classList.add('is-active');
							this.selectedCate2 = ['1'];
						} else {
							this.selectedCate2.forEach( val => {
								if(val == '1') {
									this.selectedCate2.pop(val);
									this.$el.children[0].classList.remove('is-active');
								} else {
									if(val == selectedIdxString) {
//								동일 카테고리 선택!
										cate2DuplChk = true;
										this.selectedCate2.splice(this.selectedCate2.indexOf(selectedIdxString),1);
									}
								}
							});
							if(cate2DuplChk) {
//								동일카테고리 선택 시
								selected.$el.classList.remove('is-active')
								cate2DuplChk = false;
							} else {
								this.selectedCate2.push(selectedIdxString);
								selected.$el.classList.add('is-active')
							}

							
							if(this.selectedCate2.length<1) {
//								선택된 카테고리 없음 / all로 초기화
								this.selectedCate2 = ['1'];
								this.$el.children[0].classList.add('is-active');
							}
						}
						console.log(this.selectedCate2);
					} else {
						this.selectedCate1 = selectedIdxString;
//						단일 선택 카테고리
						this.$children.forEach( el => {
							el.$el.classList.remove('is-active');
						});
						selected.$el.classList.add('is-active')
					}
//					console.log("event fired from child");
//					console.log('선택된 카테고리 인덱스: '+selectedIdx);
//					console.log('선택된 카테고리명: '+selectedName);
//					console.log('선택된 카테고리 그룹 인덱스: '+selectedGroupIdx);
				}
			},
			created: function() {
//				console.log(this.selectedCate1);
//				console.log(this.selectedCate2);
			},
			mounted: function() {
				this.$children[0].$el.classList.add('is-active')
			}
		})

		
			
		var app = new Vue({
			el: '#app',
			data() {
				return {
					scrollY: 0,
					sectionPosition: [],
					sectionNavPosition: [],
					sectionNavWidth: [],
					currentSection: 'index',
//					selectedCate1: 'All',
//					selectedCate2: 'All',
					cateList1: [
						{ idx: 1, groupIdx: 1, name: 'all', displayName: 'ALL' },
						{ idx: 2, groupIdx: 1, name: 'dog', displayName: '강아지' },
						{ idx: 3, groupIdx: 1, name: 'cat', displayName: '고양이' }
					],
					cateList2: [
						{ idx: 1, groupIdx: 2, name: 'all', displayName: 'ALL' },
						{ idx: 2, groupIdx: 2, name: 'fashion', displayName: '패션' },
						{ idx: 3, groupIdx: 2, name: 'goout', displayName: '외출' },
						{ idx: 4, groupIdx: 2, name: 'house', displayName: '하우스' },
						{ idx: 5, groupIdx: 2, name: 'kitchen', displayName: '키친' },
						{ idx: 6, groupIdx: 2, name: 'food', displayName: '푸드' },
						{ idx: 7, groupIdx: 2, name: 'grooming/clean', displayName: '그루밍/위생' },
						{ idx: 8, groupIdx: 2, name: 'toy', displayName: '장난감' },
						{ idx: 9, groupIdx: 2, name: 'book', displayName: '서적' },
						{ idx: 10, groupIdx: 2, name: 'test', displayName: '체험권' }
					],
					campaignList: [
						{ idx: 1, type: 'dog', dateStart: '2018/06/25', dateEnd: '2018/06/30', announceDate: '2018/07/03', request: 100, recruit: 30, imgSrc: './images/campaign_sample_01.jpg', title: '위 러브캣 LEMON BALL 놀이장난감', desc: '상품과 고양이를 함께 인증해주세요' },
						{ idx: 2, type: 'cat', dateStart: '2018/06/21', dateEnd: '2018/06/28', announceDate: '2018/07/01', request: 17, recruit: 30, imgSrc: './images/campaign_sample_01.jpg', title: '위 러브캣 LEMON BALL 놀이장난감', desc: '상품과 고양이를 함께 인증해주세요' },
						{ idx: 3, type: 'cat', dateStart: '2018/06/23', dateEnd: '2018/06/25', announceDate: '2018/07/02', request: 17, recruit: 30, imgSrc: './images/campaign_sample_01.jpg', title: '위 러브캣 LEMON BALL 놀이장난감', desc: '상품과 고양이를 함께 인증해주세요' },
						{ idx: 4, type: 'cat', dateStart: '2018/06/19', dateEnd: '2018/06/26', announceDate: '2018/06/27', request: 17, recruit: 30, imgSrc: './images/campaign_sample_01.jpg', title: '위 러브캣 LEMON BALL 놀이장난감', desc: '상품과 고양이를 함께 인증해주세요' }
					]
				}
				
			},
			methods: {
				handleScroll: function(event) {
					this.scrollY = window.scrollY;
//					console.log(this.scrollY);
					if(this.scrollY >= this.sectionPosition[0] && this.scrollY < this.sectionPosition[1]) {
						this.currentSection = 'index';
						this.$refs.navActiveBar.setAttribute('style', 'left:'+this.$refs.sectionNav.querySelectorAll('li')[2].offsetLeft+'px; width:'+this.$refs.sectionNav.querySelectorAll('li')[2].offsetWidth+'px');
					} else if(this.scrollY >= this.sectionPosition[1] && this.scrollY < this.sectionPosition[2]){
						this.currentSection = 'campaign';
						this.$refs.navActiveBar.setAttribute('style', 'left:'+this.$refs.sectionNav.querySelectorAll('li')[1].offsetLeft+'px; width:'+this.$refs.sectionNav.querySelectorAll('li')[1].offsetWidth+'px');
					} else {
						this.currentSection = 'discount';
						this.$refs.navActiveBar.setAttribute('style', 'left:'+this.$refs.sectionNav.querySelectorAll('li')[0].offsetLeft+'px; width:'+this.$refs.sectionNav.querySelectorAll('li')[0].offsetWidth+'px');
					}
				}
			},
			created: function() {
//				console.log("created");
				window.addEventListener('scroll', this.handleScroll);
			},
			mounted: function() {
				this.$nextTick(function() {
					this.$refs.contentBox.querySelectorAll('section').forEach( el => {
						this.sectionPosition.push(el.offsetTop);
					});
//					this.$refs.sectionNav.querySelectorAll('li').forEach( el => {
//						this.sectionNavPosition.push(el.offsetLeft);
//						this.sectionNavWidth.push(el.offsetWidth);
//					});
				});
//				console.log("섹션위치:"+this.sectionPosition);
//				console.log("넓이:"+this.sectionNavWidth);
//				console.log("위치:"+this.sectionNavPosition);
			},
			beforeUpdate: function() {
//				console.log("beforeUpdate");
			},
			updated: function() {
//				console.log("updated");
			},
			destroyed: function() {
//				console.log("destroyed");
				window.removeEventListener('scroll', this.handleScroll);
			}
		})
		
		
	</script>
</body>
</html>